canvas {
  background: #eee;
}

p {
  color: red;
  font-size: 20px;
}

input {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 40px;
}

.button {
  border-radius: 5px;
  background-color: cornflowerblue;
  width: 100px;
  height: 30px;
  font-weight: bold;
}